<div id="dashboard-container">
    <div id="add_event_btn_container">
        <button id="event_adding_button" hx-get="{% url 'addevents' %}" hx-target="#dashboard-container" hx-trigger="click" hx-swap="innerHTML">Add Events</button>
    </div>



    <div id="events_container">
        {% for event in allevents %}
            <div id="events" class="events">
                <p>Event name: {{ event.event_name }}</p>
                <p>Creation date: {{ event.date_of_creation }}</p>
                <p>Status: {{ event.status }}</p>
                <p>Recurrence: {{ event.recurrence }}</p>
                <p>Due date: {{ event.due_date }}</p>
                <div class="event-actions">
                    <form hx-get="{% url 'editevent' %}" hx-target="#content" hx-swap="innerHTML">
                        <input type="hidden" name="id" value="{{ event.id }}">
                        <button class="edit-btn">✏️</button>
                    </form>
                    <form hx-get="{% url 'deleteevent' %}" hx-target="#content" hx-swap="innerHTML">
                        <input type="hidden" name="id" value="{{ event.id }}">
                        <button class="delete-btn">🗑️</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>